@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #c81322, #1d1c1c); 
  color: white; 
  bottom: 0; 
  left: 0;
  position: fixed;
  font-size: 18px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.layout {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  background: linear-gradient(to top, #c81322, #1d1c1c);
  color: white;
  margin-bottom: 30px;
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.appName {
  margin-left: 40px;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

@media (max-width: 600px) {
  .header {
    font-size: 2rem;
  }
  main {
    font-size: 1rem;
  }
}