@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');

.nutritionistCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 550px;
  width: 450px;
  border-radius: 16px;
  padding: 20px 30px;
  overflow: hidden;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nutritionistImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white,
}

.nutritionistName {
  font-size: 40px;
  border-bottom: 3px solid white;
  padding-bottom: 10px; 
  width: 50%;
  min-width: 300px;
  text-align: center;
  margin-top: 15px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nutritionistDescription {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
}

.nutritionistCard p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  padding-left: 0;
  direction: ltr;
  margin-bottom: 15px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nutritionistWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nutritionistContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}